body {
	width: 1920px;	
	height: 1080px;
	margin: 0 auto;

}
.content {
	margin: 0 auto;
	width: 90%;
	height: 90%;
}
#tag-cloud {
	margin: 0 auto;
	width: 90%;
	height: 90%;
}
.tag{
	margin: 0.25%;
	float: left;
	background: cyan;
}
